<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Runtime Setting -->
	<startup>
		<supportedRuntime version="v2.0.50727" />
		<supportedRuntime version="v3.0" />
		<supportedRuntime version="v3.5" />
		<supportedRuntime version="v4.0.30319" />
	</startup>

	<!-- App Settings -->
	<appSettings>
		<add key="Title" value="Untitle" />
		<add key="database" value="cw" />
		<add key="min pool size" value="1" />
		<add key="max pool size" value="50" />
		<add key="packet size" value="4096" />
		<add key="companyA" value="false" />
		<add key="companyB" value="false" />
		<add key="companyC" value="false" />
		<add key="companyD" value="false" />
		<add key="companyE" value="True" />
		<add key="companyF" value="false" />
		<add key="companyG" value="false" />
		<add key="companyH" value="false" />
		<add key="companyI" value="false" />
	</appSettings>
</configuration>
